// Importing Libraries.
@import 'partials/importer';

// Global Defaults Elements.
html {
  font-size: 12px;

  @media screen and (min-width: $md) {
    font-size: 13px;
    
  }

  @media screen and (min-width: $lg) {
    font-size: 16px;
  }
}

body {
  font-size: $font-size-16;
  color: $base-font-color;
  line-height: 24px;
  overflow-x: hidden;
  font-family: "ss-regular";
}




 